
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

div.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

div.choices div.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.choices div.choice:hover{
    cursor: grab;
    background-color: #081b31;
}

div.choices div.choice img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}


div.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

div.score-board div.score p#user-score,
div.score-board div.score p#comp-score{
    font-size: 4rem;
}

div.msg-container{
    margin-top: 5rem;
}

div.msg-container p#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}